.g-gap {
  gap: 8px;
}

.g-col-1 {
  grid-template-columns: 1fr;
}

.g-col-1-1 {
  grid-template-columns: 1fr;
}

.g-col-3 {
  grid-template-columns: 1fr 1fr 1fr;
}

.g-col-3-1{
  grid-template-columns: 1fr;
}

.g-col-2-1 {
  grid-template-columns: 1fr;
}

/*//   @media only screen and (max-width: 767.9px) {
  //   }*/

@media only screen and (min-width: 768px) {
  .g-col-2-1 {
    grid-template-columns: 6fr 5fr;
  }
  .g-col-3-1{
    grid-template-columns: 3fr 1fr;
  }
}

@media only screen and (min-width: 1200px) {
  .g-col-2-1 {
    grid-template-columns: 3fr 4fr;
  }

  .g-col-1-1 {
    grid-template-columns: 1fr 1fr;
  }
}


