@media print {
  // html {
  //   font-size: 0.67rem;
  // }

  .g-col-1-1 {
    grid-template-columns: 1fr 1fr;
  }

  .g-col-7-5 {
    grid-template-columns: 7fr 5fr;
  }

  .page-number {
    display: inline-flex !important;
  }

  .content-bar {
    color: black;
  }

  div.icon-info,
  div.icon-info > span > a,
  .name {
    color: black !important;
  }

  .resume .date {
    text-align: right !important;
    list-style: none !important;
  }

  .cv-background {
    // background-color: darkgray;
    background-image: url("../images/background-texture.jpg") !important;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }
}
